# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

[Rr]elease/
[Dd]ebug/

.vs/

*.VC.*
/sscanf.vcxproj.user
/build
/docker/build
/docker/conan

# sampctl files
/samp-npc
/samp03svr
/pawn.lock
/announce
/server.cfg
/dependencies/
/server_log.txt
/sampctl_build_file.inc
*.amx

# Zed editor settings
.zed/
